table {
    width: 100%;
  }
  
  .mat-mdc-form-field {
    font-size: 14px;
    width: 100%;
  }
  
  td, th {
    width: 25%;
  }
  .agregar-alumno{
    margin-bottom: 10px;
  }
  .material-icons {
    font-family: 'Material Icons';
    font-size: 15px;  /* Preferred icon size */
  }