.example-spacer {
    flex: 1 1 auto;
  }
  .example-container {
    width: 100%;
    height: 100vh;
  }
  
  .example-sidenav-content {
  }
  
  .example-sidenav {
    padding: 20px;
  }
  ul{
    list-style: none;
    margin: 0;
    padding: 0;
  }
  .menu{
    margin: 2px;
    margin-top: 10px;
    width: 155px;
  }
  .contenido{
    margin: 10px;
  }
